<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue CDN Note</title>
    <script src="https://unpkg.com/vue@3.0.2/dist/vue.global.js"></script>
  </head>
  <body>
    <h1>Vue Note 5</h1>

    <!-- this is where we inject the vue-->
    <div id="app">
      <!--Button title from vue-->
      <button @click="showHide">{{buttonTitle}}</button>

      <br />

      <!--Button title conditional span-->
      <button @click="showHide">
        <span v-if="showInfos">Hide Infos</span>
        <span v-else>Show Infos</span>
      </button>

      <!--Conditional show-->
      <div v-if="showInfos">
        <h2>{{info1}} - {{info2}} - {{number}}</h2>
      </div>

      <div v-show="showInfos">Infos being shown</div>
    </div>

    <script src="app.js"></script>
  </body>
</html>
